<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <section name="appSettings"   
         type="System.Configuration.NameValueFileSectionHandler, 
         System, Version=1.0.3300.0, 
         Culture=neutral, PublicKeyToken=b77a5c561934e089"/>         
      <section name="sessionState" 
         type="System.Web.SessionState.SessionStateSectionHandler, 
         System.Web, Version=1.0.3300.0, Culture=neutral, 
         PublicKeyToken=b03f5f7f11d50a3a" 
         allowDefinition="MachineToApplication"/>
   </configSections>

   <appSettings>
      <add key="dsn" value="localhost;uid=MyUserName;pwd=;"/>
      <add key="msmqserver" value="server\myqueue"/>
      <add key="F13SERVICE_HEADER" value="https://f13.service.com" />
      <add key="F14SERVICE_HEADER" value="https://f14.service.com" />
      <add key="F15SERVICE_HEADER" value="https://f15.service.com" />
      <add key="SERVICE_HEADER" value="" />
      <add key="F13SQL_CONNECTION" value="" />
      <add key="F14SQL_CONNECTION" value="" />
      <add key="F15SQL_CONNECTION" value="" />
   </appSettings>
   
   <sessionState cookieless="true" timeout="10"/>
</configuration>